In [81]:
import pandas as pd
import numpy as np
from p_tqdm import p_map

In [2]:
from const import DATASETS,SETTINGS

In [139]:
conf = {
 'apiurl': 'http://www.nomisweb.co.uk/api/v01/dataset/{dataset}.data.csv?date=latest&geography={geocode}&{cell}={cells}&measures=20100&select={selection}&uid={key}{query_misc}',
 'apikey': '0x3cfb19ead752b37bb90da0eb3a0fe78baa9fa055',
 'outfile': './data.h5'
}

area = {#geocode
    'lad':'TYPE464'
}

db_file = './indicators.sqlite'
import sqlite3
sqlite3.register_adapter(np.int64, lambda val: int(val))
sqlite3.register_adapter(np.int32, lambda val: int(val))
conn = sqlite3.connect(db_file)
# cur = conn.cursor()

## Generate a area and total tally

In [25]:

pop = filter(lambda x:x['code'] == 'population',DATASETS).__next__()
    
sources = pop['sources']
df = False

for src in sources:

    src = src.copy()
    src['cells'] = ','.join(map(str,src['cells']))
    src['selection'] = ','.join(map(str,src['selection']))
    src['key'] = conf['apikey']
    if not hasattr(src,'query_misc'):
        src['query_misc']=''
    url = conf['apiurl'].format(**src)
    if type(df)!= bool:
        df = df.append(pd.read_csv(url),)
    else:
        df = pd.read_csv(url)
        
## on the assumption that geography codes for each year are different
population = df.groupby('GEOGRAPHY_CODE').sum()['OBS_VALUE']

GEOGRAPHY_CODE
E06000001    364695
E06000002    550091
E06000003    544663
E06000004    753238
E06000005    414530
              ...
W06000020    364174
W06000021    358854
W06000022    574219
W06000023    525282
W06000024    232387
Name: OBS_VALUE, Length: 348, dtype: int64

##  A function to get the individual dataframes

In [7]:
# def rename(x,mapping):
#     try: return mapping[x];
#     except Exception as e : 
#         print(e,x,cellnames)
#         return x

def process_df (url,src):
    dummydf = pd.read_csv(url)
    dummydf.columns = 'GEOGRAPHY_CODE YEAR CELL OBS_VALUE'.split()
    
    
    
    if 'cellmaps' in src:
        cells = ','.join(src['cellnames'])
        for k,vs in src['cellmaps'].items():
            for v in vs:
                cells.replace(v,k)
        src['cellnames'] = cells.split(',')
        
    
    mapping = dict(zip(eval(src['cells']),src['cellnames']))
        
    dummydf['CELL'] = dummydf['CELL'].apply(lambda x: mapping[x])#(rename,mapping = mapping)
    
    
#     if 'cellmaps' in src:
#     dummydf = dummydf.groupby(['GEOGRAPHY_CODE','CELL']).sum()['OBS_VALUE']
    
    return dummydf

## Process each Year and concat

In [119]:

# for dataset in DATASETS:
def fetch(dataset):
    sources = dataset['sources']
    #     src = sources[0].copy() 
    #      dont use pointers copy 
    
    df = False
    
    for src in sources:
        
        src = src.copy()
        src['cells'] = ','.join(map(str,src['cells']))
        src['selection'] = ','.join(map(str,src['selection']))
        src['key'] = conf['apikey']
        if not hasattr(src,'query_misc'):
            src['query_misc']=''


        url = conf['apiurl'].format(**src)
#         print(url)
        
        if type(df)!= bool:
            
            df = pd.concat([df,process_df(url,src)]) 
            #df.append(process_df(url,src))
        else:
            df = process_df(url,src)
            

    
    df = df.sort_values('CELL')
    order = df.CELL.drop_duplicates()
    mapping = dict(zip(order,range(len(order))))
    
#     df.OBS_VALUE = df.OBS_VALUE.astype(np.float32)
    i = df.groupby(['GEOGRAPHY_CODE','CELL']).sum().astype(np.float32).reset_index()
    i.CELL = [mapping[k] for k in i.CELL]
        
    return [dataset['code'], list(enumerate(order)), i]

In [120]:
results = p_map(fetch,DATASETS)

  0%|          | 0/7 [00:00<?, ?it/s]

              Name
index
0            asian
1      asian_other
2      bangladeshi
3            black
4          chinese
5           indian
6            mixed
7            other
8        pakistani
9            white

In [142]:
for name,order,df in results:
    print(name)
#     df.set_index('GEOGRAPHY_CODE',inplace=True)
    df.to_sql(name, con=conn, if_exists='replace')
    
    order = pd.DataFrame(order,columns = ['CELL','name']).set_index('CELL')
    order.to_sql(name+'_names', con=conn, if_exists='replace',index_label='CELL')

population
age
ethnicity
health
economic
travel
tenure

     GEOGRAPHY_CODE  CELL     YEAR  OBS_VALUE
0         E06000001     0  28144.0    96140.0
1         E06000001     1  28144.0     2547.0
2         E06000001     2  28144.0    20904.0
3         E06000001     3  28144.0    38496.0
4         E06000001     4  28144.0      736.0
...             ...   ...      ...        ...
1735      W06000024     0  28144.0    63061.0
1736      W06000024     1  28144.0     2235.0
1737      W06000024     2  28144.0     9874.0
1738      W06000024     3  28144.0    20641.0
1739      W06000024     4  28144.0      193.0

[1740 rows x 4 columns]

In [ ]:
!open .